@font-face {
    font-family: RegularK;
    src: url(./font/kaushan/KaushanScript-Regular.otf);
}
@font-face {
    font-family: RegularMono;
    src: url(./font/Mono/SpaceMono-Regular.ttf);
}
#ani{
    animation: bounce1 1s linear 1;
}
@keyframes bounce1 {
    0% {
      transform: scale(50%);
      animation-timing-function: linear;
    }
    100% {
      transform: scale(1);
      animation-timing-function: linear;
    }
  }

  *{
    scroll-behavior: smooth;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;